<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="https://use.typekit.net/ik/Y3XVpLGShAVeiId0N-gAnnlZ-0M-6LRvIGpqb_OVfLwfe0GgfFHN4UJLFRbh52jhWD9kZ26hFh4yZQsKw2StZc9UjQyqZRqDFsTRHKoXdAiTdkoDSWmyScmDSeBRZPoRdhXCdeNRjAUGdaFXOYslZkoTdkUXdAiTdkoDSWmyScmDSeBRZPoRdhXCiaiaO1slZkoTdkUaiaS0ieu1-Av0SaBujW48Sagyjh90jhNlJ6N1-Ao8ShvlZWyXZAoqZAb7f6RKRMJbMg62JMJ7f6KgRbJbMg6BJMJ7f6R1RMJbMg6YJMJ7f6R7RMJbMg6JJMJ7f6RRRMJbMg6FJMJ7f6RGRMJbMg6sJMHbMSP1ciSB.js"></script>
    <link media="all" rel="stylesheet" href="{{ path '/default.css' }}">
    <link media="all" rel="stylesheet" href="{{ path '//fonts.googleapis.com/css?family=Lato:400,300,700,900|Oswald:700|Rubik:400,300,500,700,700i,300i' }}">
    <title>Preview Layout</title>
</head>
<body>

{{{ yield }}}

</body>
</html>