h1 {
  color: #110a1a;
  font-family: Oswald;
  font-weight: 700;
  font-style: normal;
  font-size: 46px;
  letter-spacing: -.033em;
  line-height: .9em;
  text-transform: none;
}

.text-align-center {
  text-align: center;
}