h1+h3 {
  margin-top: 15px;
}
h3 {
  font-family: gineso-extended;
  font-weight: 300;
  font-style: normal;
  font-size: 1.4em;
  letter-spacing: 0em;
  line-height: 1.4em;
  text-transform: none;
  color: #818188;
}